{# templates/base.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <!-- ... -->
    {% block head %}
        {% block stylesheets %}
            {# 'app' must match the first argument to addEntry() in webpack.config.js #}
            {{ encore_entry_link_tags('app') }}

            <!-- Renders a link tag (if your module requires any CSS)
                 <link rel="stylesheet" href="/build/app.css"> -->
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}

            <!-- Renders app.js & a webpack runtime.js file
                <script src="/build/runtime.js" defer></script>
                <script src="/build/app.js" defer></script>
                See note below about the "defer" attribute -->
        {% endblock %}
        <title>{% block title %}{% endblock %} - Integrity Challenge</title>
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ path('index') }}">Integrity Challenge</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('index') }}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('check') }}">Check</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{  path ('logs') }}">Logs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{  path ('notas') }}">Notas</a>
            </li>
        </ul>
    </div>
</nav>
<div id="content">{% block content %}{% endblock %}</div>
</body>
</html>
